[submodule "tmux-better-mouse-mode"]
	path = tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode
[submodule "zsh-syntax-highlighting"]
	path = ZSH_CUSTOM/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "ZSH_CUSTOM/plugins/zsh-autosuggestions"]
	path = ZSH_CUSTOM/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
